# Vendor & Node
/vendor/

# User Uploads
/uploads/plans/*
!/uploads/plans/.gitkeep
/uploads/temp/*
!/uploads/temp/.gitkeep

# Database Backups & Secrets
/db/backups/*.zip
/db/backups/*.sql

# Logs & OS
/logs/*.log
Thumbs.db
Desktop.ini
.DS_Store
